.statsPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 2%;
  border: 5px solid var(--type-color);
  border-radius: 30px;
  margin: 0 auto;
  max-width: 80%;
  max-height: 75vh;
}