<div *ngIf="moves.lvlMovements.length > 0">
  <h1>{{'LEVEL UP MOVEMENTS' | translate}}</h1>
  <div class="movesLabel">
    <div>{{'NAME' | translate}}</div>
    <div>{{'TYPE' | translate}}</div>
    <div>{{'CATTEGORY' | translate}}</div>
    <div>{{'ACCURACY' | translate}}</div>
    <div>{{'POWER' | translate}}</div>
    <div>{{'LVL LEARNED' | translate}}</div>
  </div>
  <div *ngFor="let move of moves.lvlMovements" class="movesTable" [ngStyle]="{'--type-color':listaColores[move.type]}">
    <div class="moveName">{{move.name}}</div>
    <div class="moveType">{{move.type | translate}}</div>
    <div><img src="/assets/cattegorys/{{move.cattegory}}.png" class="moveCattegory"></div>
    <div class="moveData">{{move.accuracy}}</div>
    <div class="moveData">{{move.power}}</div>
    <div class="moveData">{{move.lvl}}</div>
  </div>
</div>
<div *ngIf="moves.machineMovements.length > 0">
  <h1>{{'MACHINE MOVEMENTS' | translate}}</h1>
  <div class="movesLabel">
    <div>{{'NAME' | translate}}</div>
    <div>{{'TYPE' | translate}}</div>
    <div>{{'CATTEGORY' | translate}}</div>
    <div>{{'ACCURACY' | translate}}</div>
    <div>{{'POWER' | translate}}</div>
    <div>{{'TM / HM' | translate}}</div>
  </div>
  <div *ngFor="let move of moves.machineMovements" class="movesTable"
    [ngStyle]="{'--type-color':listaColores[move.type]}">
    <div class="moveName">{{move.name}}</div>
    <div class="moveType">{{move.type | translate}}</div>
    <div><img src="/assets/cattegorys/{{move.cattegory}}.png" class="moveCattegory"></div>
    <div class="moveData">{{move.accuracy}}</div>
    <div class="moveData">{{move.power}}</div>
    <div class="moveData">{{move.machine}}</div>
  </div>
</div>