h1 {
  text-align: center;
}

.chain {
  display: grid;
  border: 5px solid var(--type-color);
  border-radius: 20px;
  margin: 0% 5% 0% 5%;
  padding: 5%;
  text-transform: capitalize;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
  overflow: auto;
  max-height: 85vh;
}

.chain::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.chain::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

.column {
  flex: 1;
  height: 100%;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pokemonCard {
  cursor: pointer;
  padding: 2%;
}

.pokemonCard:hover {
  outline: 5px solid var(--type-color);
  border-radius: 12px;
}

.pokemonImage {
  width: 100%;
  height: auto;
}

.pokemonNPokedex {
  font-size: 1.2em;
}

.pokemonName {
  font-size: 1.6em;
  text-align: center;
}

.pokemonTypes {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: 1em;
}

.pokemonType {
  flex: 1;
  background-color: var(--type-color);
  border-radius: 12px;
  padding: 0.1em;
  font-size: 1.4em;
}

.triggers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
}

.trigger {
  font-size: 1.2em;
}