.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3%;
}

@media (width < 1280px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (width < 1080px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (width < 860px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }

}

.pokemon-card {
  text-transform: capitalize;
  padding: 4%;
  border-radius: 20px;
  background-color: rgb(95, 109, 126);
  border: none;
  border: 0.8em solid rgb(47, 45, 45);
  cursor: url(../../assets/pokeball.png), auto;
}

.pokemon-card:hover {
  border: 0.4em solid var(--type-color1);
  border-bottom-color: var(--type-color2, var(--type-color1));
  border-right-color: var(--type-color2, var(--type-color1));

}

.pokemonImage {
  width: 100%;
  height: auto;
}

.nPokedex {
  text-align: right;
  margin-right: 6%;
  font-size: 1.4em;
}

.name {
  text-align: left;
  margin-left: 6%;
  font-size: 1.6em;

}

.types {
  display: flex;
  margin-left: 6%;
  margin-right: 6%;
  gap: 3%;
}


.pokemon-type {
  flex: 1;
  font-size: 1.3rem;
  text-align: center;
  text-shadow: 1px 1px black;
  border-radius: 12px;
  background-color: var(--type-color);
}