.buscador-filtros {
  padding: 1% 1% 1% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
  animation: scroll-down both linear;
  animation-timeline: scroll();
  animation-range: 0 300px;
}

@keyframes scroll-down {
  from {
    background-color: blur(1px);
    background-color: rgb(47, 45, 45);
    ;
  }

  to {
    backdrop-filter: blur(10px);
    background-color: rgb(47, 45, 45, .6);
  }
}

.text-selection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuIcon {
  cursor: pointer;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 10px;
}

.menuIcon:hover {
  box-shadow: 0px 0px 10px 0px white;
}

.buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 2px white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 6rem;
  width: 60vw;
  max-width: 100%;
  min-width: none;
  height: 5rem;
  max-height: 100%;
  background-image: url("/assets/buscadorBackground.png");
  background-repeat: repeat-x;
}

.buscador img {
  height: 4rem;
  width: 4rem;
  border: none;
}

.buscador input {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 6rem;
  background: none;
  text-align: left;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border: none;
}

.buscador input::placeholder {
  opacity: 0.9;
  color: white;
}

.buscador input::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.buscador:hover {
  box-shadow: 0px 0px 20px 0px white;
}


.type-selection {
  display: none;
  grid-template-columns: repeat(9, 1fr);
  gap: 1%;

}

@media (width < 800px) {
  .type-selection {
    grid-template-columns: repeat(6, 1fr);
  }

}

@media (width < 700px) {
  .type-selection {
    grid-template-columns: repeat(3, 1fr);
  }
}

.type-label {
  text-transform: capitalize;
  cursor: pointer;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

.type-checkbox {
  display: none;
}

.type-checkbox:checked~.type-span {
  box-shadow: 0px 0px 30px 0px var(--color);
  background-color: var(--color);

}

.type-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color);
  margin: 10px;
  border-radius: 14px;
  width: 100%;
  height: 70%;

}

.type-span:hover {
  background-color: var(--color);
  transition: 0.3s ease;
}

.gen-selection {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  padding: 1% 1% 1% 1%;
  width: 60%;
  height: 6em;
  gap: 0.5em;
  justify-content: center;
}

.gen-label {
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

.gen-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 250, 250);
  margin: 10px;
  text-shadow: 1px 1px black;
  width: 100%;
  height: 60%;
  opacity: 0.5;
  border-radius: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: var(--background-gen);
}

.gen-span:hover {
  box-shadow: 0px 0px 20px 0px white;
}

.gen-checkbox {
  display: none;
}

.gen-checkbox:checked~.gen-span {
  box-shadow: 0px 0px 20px 0px white;
  opacity: 1;

}