<div class="buscador-filtros">
  
  <div class="buscador">
    <img src="../assets/lupa.png"/>
    <input type="text" [(ngModel)]="textFilter" (input)="enviaTexto()" placeholder="Search...">
  </div>

  <div class="gen-selection">

    <label *ngFor="let gen of gensSelected" class="gen-label">
      Generation {{gen.gen}}
      <input type="checkbox" class="gen-checkbox" (change)="enviaGen()" [(ngModel)]="gen.isChecked">
      <span class="gen-span" [ngStyle]="{'--background-gen': 'url(./assets/genPhotos/gen' + gen.gen + '.png)'}"></span>
    </label>

  </div>

  <div class="type-selection">
  
    <label *ngFor="let type of typesSelected" class="type-label" [ngStyle]="{'--color': listaColores[type.name]}">
      <input type="checkbox" class="type-checkbox" (change)="enviaTipos()" [(ngModel)]="type.isChecked">
      <span class="type-span">{{type.name}}</span>
    </label>
  
  </div>

</div>