.buscador-filtros {
  padding: 1% 2% 0% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 15x white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 6rem;
  /*cursor: url(../../assets/superball.png), auto;*/
}

.buscador img {
  height: 4rem;
  width: 4rem;
}

.buscador input {
  background-repeat: repeat-x;
  /*border: solid 1px white;*/
  font-size: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 100px;
  background-image: url("/assets/testBuscador1WO6.png");
  background-color: rgb(47, 45, 45);
  text-align: left;
}

.buscador input::placeholder {
  opacity: 0.9;
  color: white;
}

.buscador input::-webkit-search-cancel-button{
  color: white;
  border: 5px white solid;
}

.type-selection {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1%;
  padding: 0% 3% 1% 1%;

}

@media (width < 800px) {
  .type-selection {
    grid-template-columns: repeat(6, 1fr);
  }

}

@media (width < 700px) {
  .type-selection {
    grid-template-columns: repeat(3, 1fr);
  }
}

.type-label {
  text-transform: capitalize;
  cursor: url(../../assets/ultraball.png), auto;
}

.type-checkbox {
  display: none;
}

.type-checkbox:checked~.type-span {
  box-shadow: 0px 0px 30px 0px var(--color);
  background-color: var(--color);

}

.type-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color);
  color: white;
  margin: 10px;
  border-radius: 14px;
  text-shadow: 1px 1px black;
  width: 100%;
  height: 70%;

}

.type-span:hover {
  background-color: var(--color);
}

.gen-selection {
  padding: 0% 1% 0% 1%;
  cursor: url(../../assets/superball.png), auto;
}

.genList {
  margin: 10px;
  width: 300px;
}