.buscador-filtros {
  padding: 1% 1% 2% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.buscador {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 2px white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 6rem;
  width: 45rem;
  min-width: none;
  max-width: 100%;
  min-width: none;
  height: 5rem;
  max-height: 100%;
  /*cursor: url(../../assets/superball.png), auto;*/
  background-image: url("/assets/testBuscador1WO6.png");
  background-repeat: repeat-x;
}

.buscador img {
  height: 4rem;
  width: 4rem;
  border: none;
}

.buscador input {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 6rem;
  background: none;
  text-align: left;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border: none;
}

.buscador input::placeholder {
  opacity: 0.9;
  color: white;
}

.buscador input::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


.type-selection {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1%;

}

@media (width < 800px) {
  .type-selection {
    grid-template-columns: repeat(6, 1fr);
  }

}

@media (width < 700px) {
  .type-selection {
    grid-template-columns: repeat(3, 1fr);
  }
}

.type-label {
  text-transform: capitalize;
  /*cursor: url(../../assets/ultraball.png), auto;*/
  cursor: pointer;
}

.type-checkbox {
  display: none;
}

.type-checkbox:checked~.type-span {
  box-shadow: 0px 0px 30px 0px var(--color);
  background-color: var(--color);

}

.type-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color);
  margin: 10px;
  border-radius: 14px;
  text-shadow: 1px 1px black;
  width: 100%;
  height: 70%;

}

.type-span:hover {
  background-color: var(--color);
}

.gen-selection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1% 1% 1% 1%;
  width: 60%;
  height: 6em;
  gap: 0.5em;
  justify-content: center;
}

.gen-label {
  cursor: pointer;
  text-align: center;
}

.gen-span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 250, 250);
  margin: 10px;
  text-shadow: 1px 1px black;
  width: 100%;
  height: 60%;
  opacity: 0.7;
  border-radius: 12px;
}

.g1 {
  background-image: url(../../assets/genPhotos/gen1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.g2 {
  background-image: url(../../assets/genPhotos/gen2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.g3 {
  background-image: url(../../assets/genPhotos/gen3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.g4 {
  background-image: url(../../assets/genPhotos/gen4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}


.gen-checkbox {
  display: none;
}

.gen-checkbox:checked~.gen-span {
  box-shadow: 0px 0px 20px 0px white;
  opacity: 1;

}