.container {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-image: var(--background-img);
  display: grid;
  /* grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr); */
  /*grid-gap: 1em;*/
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "img img nrId nrId types btn"
    "img img desc desc desc desc"
    "img img logo logo logo logo"
    "stats stats logo logo logo logo"
    "stats stats tVS tVS tVS tVS"
    "stats stats tVS tVS tVS tVS"
    /* "cadEv cadEv cadEv cadEv cadEv cadEv cadEv"
    "cadEv cadEv cadEv cadEv cadEv cadEv cadEv" */
    ;
    grid-gap: 1rem;
}

/*.pokemon-data {
  visibility: hidden;
  padding: 2%;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}
*/

.pokemon-image-container {
  border-radius: 20px;
  /* margin-top: 5rem; */
  grid-row: img;
  grid-column: img;
  background-color: blue;
  width: 100%;
  height: 100%;
}

@media(width < 1200px) {
  .pokemon-image-container {
    align-items: center;
  }

}

.pokemonImage {
  object-fit: cover;
}

.pokemon-infoNrName-container {
  background-color: bisque;
  border-radius: 20px;
  grid-column: nrId;
  grid-row: nrId;
  width: 100%;
  height: 100%;
  /*   justify-content: center;
  align-items: center; */
}

.nPokedex {
  text-align: right;
  /*margin-right: 6%;
  margin-top: 6%;*/
  font-size: 1.4em;
}

.name {
  text-transform: capitalize;
  text-align: right;
  /*margin-left: 6%;*/
  font-size: 1.6em;

}

.changeView {
  grid-column: btn;
  grid-row: btn;
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.types {
  text-transform: capitalize;
  grid-column: types;
  grid-row: types;
  background-color: chocolate;
  width: 100%;
  height: 100%;
  /*margin-left: 6%;
  margin-right: 6%;
  gap: 1%;*/
}

.pokemon-type {
  border: 1px solid black;
  min-width: 20%;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 12px;
  background-color: var(--type-color);
}

.weight {
  /*margin-left: 6%;*/
  font-size: 1.2em;
}

.height {
  /*margin-left: 6%;*/
  font-size: 1.2em;
}

.description {
  /*margin-left: 6%;*/
  font-size: 1.5em;
  grid-column: desc;
  grid-row: desc;
  width: 100%;
  height: 100%;
  background-color: deeppink;
}

.statsPokemon {
  background-color:indigo;
  grid-column: stats;
  grid-row: stats;
  width: 100%;
  height: 100%;
}

/*
.hp {
  margin-left: 6%;
}

.atack {
  margin-left: 6%;
}

.defense {
  margin-left: 6%;
}

.specialAtack {
  margin-left: 6%;
}

.specialDefense {
  margin-left: 6%;
}

.speed {
  margin-left: 6%;
}
*/

.infoPoke {
  grid-column: infoPoke;
  grid-row: infoPoke;
  width: 50%;
  height: 50%;
  background-color: darkgoldenrod;

}

.typesVs-container {
  display: grid;
  grid-area: tVS;
/*   grid-column: tVS;
  grid-row: tVS; */
  /* width: 100%; */
  gap: 0.6em;
  padding: 1%;
  text-transform: capitalize;
  text-align: center;
  /* margin-left: 6%;
  margin-right: 6%;
  font-size: 1.2em; */
  align-items: top;
  /* align-self: center; */
  background-color: chartreuse;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  width: 100%;
  height: 100%;
  grid-auto-flow: row;
}

.typesVs {
  border: 1px solid black;
  margin-top: 7%;
  padding: 3%;
  background-color: var(--type-color);
  border-radius: 12px;
  width: 100%;
}

.logo {
  grid-column: logo;
  grid-row: logo;
  border: 5px solid white;
/*   width: 10rem;
  height: 10rem; */
  width: 100%;
  height: 100%;
}
/* .cadenaEvolutiva {
  grid-column: cadEv;
  grid-row: cadEv;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
} */

/* TRANSICION / ANIMACION */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top {
  height: 50%;
  background-color: red;
  border-bottom: 20px solid black;
  position: relative;
  z-index: 2;
  transform: translateY(-100%);
  animation: topAppear 0.8s forwards;
}

.bottom {
  height: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
  transform: translateY(100%);
  animation: bottomAppear 0.8s forwards;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 20px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.circle-small {
  width: 160px;
  height: 160px;
  background-color: white;
  border: 4px solid rgba(0, 0, 0, 0.274);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

@keyframes topAppear {
  0% {
    transform: translateY(-100%);
  }

  30%,
  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150%);
  }
}

@keyframes bottomAppear {
  0% {
    transform: translateY(100%);
  }

  30%,
  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

/*
.statsPokemon {
  border: 5px solid white;

}

.statform {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: black;
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.pruebaDentro {
  transition: clip-path 1s ease-in-out;
  width: 90%;
  height: 90%;
  clip-path: polygon(50% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}

.pruebaDentro:hover {
  background-color: white;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}*/

/*.in {
  
  background-position: 48% 42%;
  animation-name: in-anim;
}
.out {
  background-color: rgba(80, 220, 220, .4);
  animation-name: out-anim
}*/