.container {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: var(--background-img);
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  padding-bottom: 80px;
}

.back-image {
  position: absolute;
  width: 4rem;
  padding: 1%;
  cursor: pointer;
}

.pokemon-data {
  visibility: hidden;
}

.top-details {
  display: flex;
  align-items: center;
  height: 100vh;
}

.top-pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.nPokedex {
  font-size: 2vw;
}

.name {
  text-transform: capitalize;
  font-size: 6vw;
}

.types,
.dimensions {
  display: flex;
  text-transform: capitalize;
  font-size: 3vw;
  gap: 1em;
  width: 60%;
}

.height,
.weight {
  font-size: 2.5vw;
  text-transform: lowercase;
  margin-top: 5%;
  flex: 1;
  text-align: center;
  padding: 0.2em;
  border-bottom: 2px solid var(--type-color);
}

.pokemon-type {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  border-radius: 40px;
  padding: 0.2em;
  background-color: var(--type-color);
}

.top-pokemon-image {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.pokemonImage {
  width: 100%;
  height: auto;
}

.switchShiny {
  display: flex;
  justify-content: center;
  width: 100%;
}

.checkboxShiny {
  display: none;
}

.spanShiny {
  display: flex;
  cursor: pointer;
  gap: 2em;
}

.normalGif {
  opacity: 1;
  height: 5em;
}

.shinyGif {
  opacity: 0.6;
  height: 5em;
}

.scroll-hint {
  width: 4vw;
  position: absolute;
  bottom: 20px;
  left: 48vw;
  cursor: pointer;
  animation: parpadeoYAscenso 1s infinite;
}

@keyframes parpadeoYAscenso {

  0%,
  100% {
    transform: rotateX(180deg) translateY(0px);
  }

  50% {
    transform: rotateX(180deg) translateY(-10px);
  }
}

.more-pokemon-details {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.description {
  font-size: 2.3vw;
  border-left: 4px solid var(--type-color);
  margin: 0% 5% 0% 5%;
  padding-left: 1%;
}

.game-source {
  color: var(--type-color);
  font-size: 1.8vw;
  margin-left: 50%;
}

.atacksLabel {
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
}

.typesVs-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  padding: 2% 5% 2% 5%;
  gap: 0.6em;
  text-transform: capitalize;
  font-size: 2vw;
}

.typesVs {
  border: 1px solid black;
  background-color: var(--type-color);
  border-radius: 12px;
  margin-top: 0.4em;
  padding: 0.4em;
}

.statsPokemon {
  text-align: left;
  padding: 0% 2% 2% 2%;
  border: 5px solid var(--type-color);
  margin-right: 5%;
  margin-left: 5%;
}

/* TRANSICION / ANIMACION */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top {
  height: 50%;
  background-color: red;
  border-bottom: 20px solid black;
  position: relative;
  z-index: 2;
  transform: translateY(-100%);
  animation: topAppear 0.8s forwards;
}

.bottom {
  height: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
  transform: translateY(100%);
  animation: bottomAppear 0.8s forwards;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 20px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.circle-small {
  width: 160px;
  height: 160px;
  background-color: white;
  border: 4px solid rgba(0, 0, 0, 0.274);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

@keyframes topAppear {
  0% {
    transform: translateY(-100%);
  }

  30%,
  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150%);
  }
}

@keyframes bottomAppear {
  0% {
    transform: translateY(100%);
  }

  30%,
  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}