html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(47, 45, 45);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'FuentePokemon';
  src: url('./assets/fonts/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-gen: url(./assets/genPhotos/gen1.png);
  --type-color: red;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--type-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}