html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(47, 45, 45);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

:root {
  --background-gen: url(./assets/genPhotos/gen1.png);
  --type-color: red;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}