html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: url(assets/superball.png), auto;
  cursor: url(assets/ultraball.png), auto;
  cursor: url(assets/masterball.png), auto;
  cursor: url(assets/pokeball.png), auto;
}

body {
  background-color: rgb(47, 45, 45);
  color: white;
}